*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #7ead0f, #0f2802);
    display: grid;   
}
.khung{
    width: 100%;
    height: 100%;
    
} 
.khung::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 720px;
    margin: -50px 50px 0px 730px;
    background: url('Picture_CSN/ari.png');
} 
.khung #backToHome {
    margin: -30px 0px 0px 1450px;
    color: white;
    font-size: 30px;
}
.khung .ten_casi{
    width: 60%;
    height: 39%;
    
    margin-top: auto;
    margin: -30px 0px 0px 20px;
}
.khung .ten_casi .thongtin{
    width: 85%;
    height: 56%;
    
    margin-top: auto;
    margin: 7px 0px 0px 10px;
}
.khung .ten_casi .thongtin h3{
    color: rgb(22, 13, 13);
    font-size: 17px;
    line-height: 1.5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.khung .ten_casi .ten h1 { 
    font-size: 110px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(22, 23, 18);
    
}
.khung .popular {
    width: 15%;
    height: 5%; 
   
    margin: 38px 0px 20px 40px;
}
.khung .popular h3{
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(31, 31, 27);
} 
 
.khung .menu_song{
    width: 100%;
    height: 240px;
    margin: 8px 0px 0px 0px;
    overflow: auto;
    background-color: #4f7a0a;
}

.khung .menu_song::-webkit-scrollbar{
    display: none;
}
.khung .menu_song li{
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    align-items: center;
    margin-bottom: 13px;
    display: flex;
    cursor: pointer;
    transition: .2s linear;
}
.khung .menu_song li:hover{
    background: rgba(110, 180, 85, 0.41);
}
.khung .menu_song li span{
    font-size: 12px;
    font-weight: 600;
    color: #c6c9cf;
}
.khung .menu_song li img{
    width: 55px;
    height: 55px;
    margin-left: 20px;
}
.khung .menu_song li h5{
    font-size: 20px;
    margin-left: 11px;
    width: 160px;
    color: white;
    /*border: 1px solid white;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.khung .menu_song li h5 .subtitle{
    font-size: 15px;
    color: #abb0bb;
}



.masterplay{
    width: 100%;
    position: absolute;
    height: 9%;
    margin-top: -114px;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    background-color: #230202;
    /*border: 1px solid white;*/
}
.masterplay .icon{
    font-size: 25px;
    margin: 0px 30px 0px 60px;
    color: aliceblue;
    display: flex;
}

.masterplay .icon .bi{
    cursor: pointer;
    margin-left: 5px;
    outline: none;
}
.masterplay .icon .shuffle{
    font-size: 22px;
    margin-right: 10px; 
    overflow: hidden;
    width: 22px;
    display: flex;
    align-items: center;
}
.masterplay span{
    width: 33px;
    /*border: 1px solid white; */
    font-size: 15px;
}
.masterplay #currentStart{
    margin: 0px 0px 0px 20px;
    color: aliceblue;
}
.masterplay #currentEnd{
    
    color: aliceblue;
}
.masterplay .bar {
    position: relative;
    width: 43%;
    height: 5px;
    background: rgb(223, 222, 225);
    margin: 0px 15px 0px 10px;
}
.masterplay .bar .bar2{
    position: absolute;
    background:rgb(211, 37, 182) ;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
.masterplay .bar .dot{
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(205, 57, 175) ;
    border-radius: 50%;
    left: 0%;
    top: -2.5px;
    transition: 1s linear;
}
.masterplay .bar .dot::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px; 
    border: 1 solid rgb(198, 65, 182);
    border-radius: 50%;
    left: -5px;
    top: -5px;
    box-shadow: inset 0px 0px 4px rgb(179, 81, 161);
}
.masterplay .bar input{
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 999999999999999999999999999;
    opacity: 0;
}
.masterplay .vol{
    position: relative;
    width: 100px;
    height: 4px;
    background: rgb(232, 230, 238);
    margin-left: 50px;
}
.masterplay .vol .bi{
    position: absolute;
    font-size: 27px;
    top: -12px;
    left: -30px;
    color: white;
}
.masterplay .vol input{
    position: absolute;
    width: 100px;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 9999999999999999999999999999;
    opacity: 0;
    
}
.masterplay .vol .vol_bar{
    position: absolute;
    background: rgb(189, 57, 152);
    width: 100%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
.masterplay .vol .dot{
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgb(206, 74, 157);
    border-radius: 50%;
    left: 98%;
    top: -2px;
    transition: 1s linear;
}
.masterplay .vol .dot::before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px; 
    border: 1 solid rgb(218, 83, 166);
    border-radius: 50%;
    left: -6px;
    top: -5px;
    box-shadow: inset 0px 0px 4px rgb(175, 50, 158);
}
.masterplay .wave{
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    /*border: 1px solid white;*/
}
.masterplay img{
    width: 40px;
    height: 40px;
    display: flex;
}
.masterplay h5{
    width: 120px;
    margin-left: 15px;
    color: aliceblue;
    font-size: 16px;
}
.masterplay h5 .subtitle{
    font-size: 20px;
    color: darkgrey;
    width: 100%;
}
.masterplay .wave .wave1{
    width: 4px;
    height: 10px;
    background: rgb(41, 159, 222);
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: unset;
}
.masterplay .wave .wave1:nth-child(2){
    height: 17px;
    margin-right: 3.5px;
    animation-delay: .4s;
}
.masterplay .wave .wave1:nth-child(3){
    height: 12px;
    animation-delay: .8s;
}
/*javaS classes*/
.masterplay .active1 .wave1{
    animation: wave .5s linear infinite;
}
.masterplay .active1 .wave1:nth-child(2){

    animation-delay: .4s;
}
.masterplay .active1 .wave1:nth-child(3){
    animation-delay: .8s;
}
@keyframes wave{
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}
.masterplay .icon #download_music{
    text-decoration: none;
    font-size: 21px;
    margin: 4px 0px 0px 15px;
    color: white;
}