*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: rgb(28, 2, 48);
    /*background: linear-gradient(to right, #000000, #b70f74);*/
    
    display: grid;
    place-items: center;
   
}
header{
    width: 99%;
    display: flex;
    height: 99%;
    
}
header .menu_side, .trangchinh{
    width: 21%;
    height: 99%;
    background: rgb(28, 2, 48);
    color: aliceblue;  
    
}
header .menu_side{
    width: 21%;
    height: 100%;
    background: rgb(15, 3, 36);
    color: aliceblue;  
}

header .menu_side .chucnang .home{
    
    margin: 25px 0px 0px 115px;   
    
   
}
header .menu_side .chucnang .home img{
    width: 25%;
    height: 25%;
   
}
header .chuplaylist{
    font-size: 25px;
    margin: 90px 0px 0px 10px; 
    
}
header .menu_side .menu_song{
   width: 100%;
   height: 400px;
   margin-top: 10px;
   overflow: auto;

}
header .menu_side .menu_song::-webkit-scrollbar{
    display: none;
 }
header .menu_side .menu_song li{
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
 
 }
 header .menu_side .menu_song li:hover{
   background: rgba(105, 105, 105, 0.395);
 }
 header .menu_side .menu_song li span{
    font-size: 14px;
    font-weight: 600;
    color: grey;
 }
 header .menu_side .menu_song li img{
    width: 40px;
    height: 40px;
    margin-left: 15px;
 }
 header .menu_side .menu_song li h5{
    font-size: 18px;
    margin-left: 12px;
    width: 180px;
 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }
 header .menu_side .menu_song li h5 .subtitle{
    font-size: 11px;
    color: rgb(172, 170, 170);
 } 
 header .menu_side .menu_song li .bi{
    position: absolute;
    right: 13px;
    
 } 
header .trangchinh{
    width: 79%;
    height: 90%;
   
}
header .trangchinh .slogan{
    width: 55%;
    height: 8%;
    font-family: cursive;
    margin: 100px 0px 0px 50px;
    font-size: 50px;

}
header .trangchinh .slogan p{
    text-indent: 70px;
    color: #f7f5f5;
}

header .trangchinh::before{
    content: '';
    position: absolute;
    width: 55%;
    height: 762px;
    margin: -90px 0px 0px 360px;
    background: url('Picture_CSN/Lisaa.png');
}
header.trangchinh, .menuphai{
    width: 100%;
    height: 8%;
    margin: auto;
    /*border: 1px solid white;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header.trangchinh, .popular_song{
    width: 92%;
    height: auto;
    margin: auto;
    margin-top: 160px;
    
}
header.trangchinh, .popular_song .h3{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.trangchinh, .popular_song .h3 .bi{
    color: darkgray;
    cursor: pointer;
    transition: .2s linear;
}
header.trangchinh, .popular_song .h3 .bi:hover{
   color: white;
}
header.trangchinh, .popular_song .ppl_song{
    width: 100%;
    height: 130px;
    margin-top: 13px;
    display: flex;
    /*border: 1px solid white;*/
    overflow: auto;
    scroll-behavior: smooth;
}
header.trangchinh, .popular_song .ppl_song::-webkit-scrollbar{
    display: none;
}
header.trangchinh, .popular_song .ppl_song li{
   min-width: 100px;
   height: 140px;
   list-style-type: none;
   margin-right: 10px;
   transition: .2s linear;
}
header.trangchinh, .popular_song .ppl_song li:hover{
    background: rgb(105, 105, 170, .1);
 }
 header.trangchinh, .popular_song .ppl_song li .img_play {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 header.trangchinh, .popular_song .ppl_song li .img_play img {
    width: 100%;
    height: 100%;
 }
 header.trangchinh, .popular_song .ppl_song li .img_play .bi {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: .2s linear;
    opacity: 0;
 }
 header.trangchinh, .popular_song .ppl_song li:hover .img_play .bi {
    opacity: 1;
 }
 header.trangchinh, .popular_song .ppl_song li h5{
    padding: 5px, 0px, 0px, 5px;
    line-height: 15px;
    font-size: 14px;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }
 header.trangchinh, .popular_song .ppl_song li h5 .subtitle{
    font-size: 11px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(136, 136, 136);
 }


 header.trangchinh, .popular_artists{
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 10px;
  
}
heade.trangchinh, .popular_artists .h3{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.trangchinh, .popular_artists .h3 .bi{
    color: darkgray;
    cursor: pointer;
    transition: .2s linear;
}
header.trangchinh, .popular_artists .h3 .bi:hover{
   color: white;
}
header.trangchinh, .popular_artists .item{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 15px;
    overflow: auto;
    scroll-behavior: smooth;
   
   
}
header.trangchinh, .popular_artists .item li{
   list-style: none;
   position: relative;
   width: 80px;
   height: 80px;
   border-radius: 60%;
   margin-right: 20px;
   cursor: pointer;
  
}
header.trangchinh, .popular_artists .item li img{
    width: 100%;
    height: 100%;
    border-radius: 60%;
   
 }
 header.trangchinh, .popular_artists .item::-webkit-scrollbar{
    display: none;
 }



/*Thanh tìm kiếm*/
header.trangchinh, .menuphai .search{
    position: absolute;
    width: 24%;
    height: 30px;
    margin: 20px 0px 0px 30px;
    border-radius: 18px;
    border: 1px solid white;
}
header.trangchinh, .menuphai .search::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(244, 242, 243, 0.935);
    border-radius: 18px;
    backdrop-filter: blur(7px);
    z-index: -2;
}
header.trangchinh, .menuphai .search .search_results{
    position: absolute;
    width: 100%;
    height: 200px;
    
    margin-top: 7px;
    border-radius: 8px;
    overflow: auto;
}
header.trangchinh, .menuphai .search .search_results::-webkit-scrollbar{
    display: none;
}
header.trangchinh, .menuphai .search .search_results .card{
    width: 100%;
    min-height: 45px;
    
    display: flex;
    align-items: center; background: rgba(200, 194, 194, 0.133);
    margin-bottom: 5px;
    text-decoration: none;  
    display: none;
}
header.trangchinh, .menuphai .search .search_results .card img{
    width: 38px;
    height: 38px;
    border-radius: 4px;  
}
header.trangchinh, .menuphai .search .search_results .card .content{
    width: 80%;
    height: 100%;
   
    padding: 0px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: white;     
}
header.trangchinh, .menuphai .search .search_results .card .content .subtitle{
    font-size: 12px;
    color: rgb(184, 176, 176);     
}
header.trangchinh, .menuphai .search .bi{
    font-size: 13px;
    padding: 3px 0px 0px 10px; 
}
header.trangchinh, .menuphai .search input{
    background: none;
    border: none;
    outline: none;
    padding: 5px 10px;
    color: white;
}
header.trangchinh, .menuphai .dangnhap{
    position: absolute;
    width: 4%;
    height: 6%;
    margin: 30px 0px 0px 1100px;
    
}
header.trangchinh, .menuphai .dangnhap .bi{
    position: absolute;
    margin: -5px 0px 0px 22px;
    font-size: 44px;
    color: white;
}




.masterplay{
    width: 100%;
    height: 240%;
    margin-top: -45px;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    background-color: #0a061b;
    /*border: 1px solid white;*/
}
.masterplay .icon{
    font-size: 25px;
    margin: 0px 30px 0px 60px;
    color: aliceblue;
    display: flex;
}

.masterplay .icon .bi{
    cursor: pointer;
    margin-left: 5px;
    outline: none;
}
.masterplay .icon .shuffle{
    font-size: 22px;
    margin-right: 10px; 
    overflow: hidden;
    width: 22px;
    display: flex;
    align-items: center;
}
.masterplay span{
    width: 33px;
    /*border: 1px solid white; */
    font-size: 15px;
}
.masterplay #currentStart{
    margin: 0px 0px 0px 20px;
    color: aliceblue;
}
.masterplay #currentEnd{
    
    color: aliceblue;
}
.masterplay .bar {
    position: relative;
    width: 43%;
    height: 5px;
    background: rgb(223, 222, 225);
    margin: 0px 15px 0px 10px;
}
.masterplay .bar .bar2{
    position: absolute;
    background:rgb(211, 37, 182) ;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
.masterplay .bar .dot{
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(205, 57, 175) ;
    border-radius: 50%;
    left: 0%;
    top: -2.5px;
    transition: 1s linear;
}
.masterplay .bar .dot::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px; 
    border: 1 solid rgb(198, 65, 182);
    border-radius: 50%;
    left: -5px;
    top: -5px;
    box-shadow: inset 0px 0px 4px rgb(179, 81, 161);
}
.masterplay .bar input{
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 999999999999999999999999999;
    opacity: 0;
}
.masterplay .vol{
    position: relative;
    width: 100px;
    height: 4px;
    background: rgb(232, 230, 238);
    margin-left: 50px;
}
.masterplay .vol .bi{
    position: absolute;
    font-size: 27px;
    top: -12px;
    left: -30px;
    color: white;
}
.masterplay .vol input{
    position: absolute;
    width: 100px;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 9999999999999999999999999999;
    opacity: 0;
    
}
.masterplay .vol .vol_bar{
    position: absolute;
    background: rgb(189, 57, 152);
    width: 100%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}
.masterplay .vol .dot{
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgb(206, 74, 157);
    border-radius: 50%;
    left: 98%;
    top: -2px;
    transition: 1s linear;
}
.masterplay .vol .dot::before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px; 
    border: 1 solid rgb(218, 83, 166);
    border-radius: 50%;
    left: -6px;
    top: -5px;
    box-shadow: inset 0px 0px 4px rgb(175, 50, 158);
}
.masterplay .wave{
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    /*border: 1px solid white;*/
}
.masterplay img{
    width: 35px;
    height: 35px;
    display: flex;
}
.masterplay h5{
    width: 120px;
    margin-left: 15px;
    color: aliceblue;
    font-size: 15px;
}
.masterplay h5 .subtitle{
    font-size: 13px;
    color: darkgrey;
    width: 100%;
}
.masterplay .wave .wave1{
    width: 4px;
    height: 10px;
    background: rgb(41, 159, 222);
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: unset;
}
.masterplay .wave .wave1:nth-child(2){
    height: 17px;
    margin-right: 3.5px;
    animation-delay: .4s;
}
.masterplay .wave .wave1:nth-child(3){
    height: 12px;
    animation-delay: .8s;
}
/*javaS classes*/
.masterplay .active1 .wave1{
    animation: wave .5s linear infinite;
}
.masterplay .active1 .wave1:nth-child(2){

    animation-delay: .4s;
}
.masterplay .active1 .wave1:nth-child(3){
    animation-delay: .8s;
}
@keyframes wave{
    0%{
        height: 10px;
    }
    50%{
        height: 15px;
    }
    100%{
        height: 10px;
    }
}
.masterplay .icon #download_music{
    text-decoration: none;
    font-size: 21px;
    margin: 4px 0px 0px 15px;
    color: white;
}

